<style type="text/css">
    body {
        background: #e5e5e5;
    }
    ul.roles {
        height: 100%;
        padding: 5px;
        margin: 5px;
        margin-top: 0px;
        list-style-type: none;
        min-height: 420px;
        background: white;
    }

    ul.files {
        padding: 8px;
        margin-top: 10px;
        width: 100%;
        min-height: 400px;
        background: white;
        list-style-type: none;
        margin-bottom: 30px;
    }
    
    ul.roles li {
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        border: 1px dotted grey;
        border-radius: 5px;
        
    }

    ul.roles li iframe {
        width: 100%;
        height: 390px;
    }
    
    ul.files li {
        padding: 8px;
        margin: 10px;
        max-height: 200px;
        cursor: pointer;
        border: 1px dotted lightgrey;
        border-radius: 5px;
    }

    ul.files li iframe {
        width: 200px;
        height: 190px;
    }
    
    #dropZone {
        background: white;
        border: grey dashed 2px;
        width: 100%;
        min-height: 120px;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        word-spacing: 5px;
        text-align: center;
        color: black;
        margin-bottom: 20px;
    }   

</style>

@{
    ViewBag.Title = "Home Page";
    var culture = System.Threading.Thread.CurrentThread.CurrentUICulture.Name.ToLowerInvariant();
}


@helper selected(string c, string culture)
{
if (c == culture)
{
        @:checked="checked"
    }
}
<div class="jumbotron">
    <h1>@Resources.Resources.Hello</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    @using (Html.BeginForm("SetCulture", "Home"))
    {
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <label for="ru-ru">
                        <input name="culture" id="ru-ru" value="ru-ru" type="radio" @selected("ru-ru", culture) /> Русский
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label for="en-us">
                        <input name="culture" id="en-us" value="en-us" type="radio" @selected("en-us", culture) /> English
                    </label>
                </div>
            </div>
        </fieldset>
    }

    <input type="text" id="searchInput" class="form-control" placeholder="Поиск...">
    <button class="btn btn-default" id="searchButton">Искать</button>

</div>


<h2>Создание страницы сайта</h2>
<br />
<div class="row">
    <div class="col-lg-3 col-md-3 ">
        <h4>Загрузка данных</h4>
        <div id="dropZone">
            <div class="row">
                <div class="col-lg-1 col-md-3 col-sm-4 col-xs-3">
                    <a href="javascript: void(0)"><img src="~/Images/icons/image.png" width="50" id="image" /></a>
                    <input type="file" id="upload_input" name="upload" style="font-size: 50px; width: 120px; opacity: 0; filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -50px" />
                </div>
                <div class="col-lg-4 col-md-4 col-sm-3 col-xs-3" style="margin-left:45px;">
                    <a href="#modalAddVideo" role="button" data-toggle="modal">
                    <img src="~/Images/icons/video.png" width="50" />
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <a href="#modalAddText" role="button" data-toggle="modal">
                    <img src="~/Images/icons/text.png" width="50" />
                    </a>
                </div>
            </div>
        </div>
       
        <h4>Список ваших файлов</h4>
        <ul id="fileList" class="list files"></ul>

        <div id="trash-can" class="list" style="text-align:center; min-height: 150px"><img src="~/Images/icons/trash.png" width="50" /></div>
    </div>

    <div class="col-lg-9 col-md-9">
        <h4>&nbsp;Шаблон страницы</h4>
        <div style="text-align:center; margin-bottom: 20px;">
            <label class="radio-inline"><input type="radio" name="optradio" id="template0"><img src="~/Images/icons/0.png" width="50"/></label>
            <label class="radio-inline"><input type="radio" name="optradio" id="template1"><img src="~/Images/icons/1.png" width="50" /></label>
            <label class="radio-inline"><input type="radio" name="optradio" id="template2"><img src="~/Images/icons/2.png" width="50" /></label>
            <label class="radio-inline"><input type="radio" name="optradio" id="template3"><img src="~/Images/icons/3.png" width="50" /></label>
        </div>
        <div id="page">
        </div>
    </div>

    <!-- HTML-код модальных окон -->
    <div id="modalAddText" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Добавить текст</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="5" id="text" style="min-width: 100%"></textarea>
                        </div>
                        <button type="button" class="btn btn-default" id="close-text" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="save-text">Сохранить изменения</button>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <div id="modalAddVideo" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Добавить видео</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <input type="url" id="video" class="form-control" placeholder="Ссылка на видео..." style="min-height:100%">
                        </div>
                        <button type="button" class="btn btn-default" id="close-video" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary" id="save-video">Сохранить изменения</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var template;

        (function ($) {
            $("input[type = 'radio']").click(function () {
                $(this).parents("form").submit(); 
            });
        })(jQuery);

        $("searchButton").click(function () {
            var url = "/Home/Search";
            $.post(url, { input: document.getElementById("searchInput").value }, function (data) {
                alert(data);
            });
        })

        $(function sort() {
            $("#fileList, #templatePart0, #templatePart1, #templatePart2").sortable({
                connectWith: ".list"
            }).disableSelection();
        });

        $(function () {
            $("#trash-can").droppable({
                hoverClass: "droppable-hover",
                drop: function (event, ui) {
                    var element = ui.draggable.css('position', '');
                    $(this).append(element);
                    $(ui.draggable).fadeOut(0);
                }
            });
        });

        $(function () {
            $('#dropZone').filedrop({
                url: '@Url.Action("UploadFiles")',
                paramname: 'files',
                maxFiles: 5,
                dragOver: function () {
                    $('#dropZone').css('background', 'lightgrey');
                },
                dragLeave: function () {
                    $('#dropZone').css('background', 'white');
                },
                drop: function () {
                    $('#dropZone').css('background', 'white');
                },
                uploadFinished: function (i, file, response, time) {
                    $('#fileList').append('<li><img width="100%" src="../Images/' + file.name + '" /></li>');
                },
                
            });
        });


        $("#save-text").click(function () {
            $('#fileList').append('<li><textarea class="form-control" style="min-width: 100%" rows="2">' + document.getElementById("text").value + '</textarea></li>');
            document.getElementById("close-text").click();
        })

        $("#save-video").click(function () {
            var link = document.getElementById("video").value;
            var index = link.lastIndexOf("/");
            link = link.substring(index+1, link.length);
            $('#fileList').append('<li><iframe src="https://www.youtube.com/embed/' + link + '"></iframe></li>');                               
            document.getElementById("close-video").click();
        })

        function returnCompomentsToFileList() {
            var page = document.getElementById("page").innerHTML;
            var startIndex = 0;
            while (page.indexOf("<li", startIndex) != -1) {
                endIndex = page.indexOf("</li>", startIndex);
                $('#fileList').append(page.substring(page.indexOf("<li", startIndex), endIndex + 5));
                startIndex = endIndex+5;
            }
        }

        $("#template0").change(function () {
            returnCompomentsToFileList();
            document.getElementById("page").innerHTML = "<table style=\"width: 100%; table-layout:fixed\">" +
                "<tr>" +
                "<td style=\"vertical-align: top\"><ul id=\"templatePart0\" class=\"list roles\"></ul></td>" +
                "</tr>" +
                "</table>";
            template = 0;
            $("#fileList, #templatePart0").sortable({
                connectWith: ".list"
            }).disableSelection();
        })

        $("#template1").change(function () {
            returnCompomentsToFileList();
            document.getElementById("page").innerHTML = "<table style=\"width: 100%; table-layout:fixed\">" +
                "<tr>" +
                "<td style=\"vertical-align: top\"><ul id=\"templatePart0\" class=\"list roles\"></ul></td>" +
                "<td style=\"vertical-align: top\"><ul id=\"templatePart1\" class=\"list roles\"></ul></td>" +
                "</tr>" +
                "</table>";
            template = 1;
            $("#fileList, #templatePart0, #templatePart1").sortable({
                connectWith: ".list"
            }).disableSelection();
        })


        $("#template2").change(function () {
            returnCompomentsToFileList();
            document.getElementById("page").innerHTML = "<table style=\"width: 100%; table-layout:fixed\">" + 
                "<tr>" +
                "<td style=\"vertical-align: top\"><ul id=\"templatePart0\" class=\"list roles\"></ul></td>" + 
                "<td style=\"vertical-align: top\"><ul id=\"templatePart1\" class=\"list roles\"></ul></td>" +
                "</tr>"+
                "<tr>" +
                "<td colspan=\"2\" style=\"vertical-align: top\"><ul id=\"templatePart2\" class=\"list roles\"></ul></td>"+
                "</tr></table>"
            template = 2;
            $("#fileList, #templatePart0, #templatePart1, #templatePart2").sortable({
                connectWith: ".list"
            }).disableSelection();
        })

        $("#template3").change(function () {
            returnCompomentsToFileList();
            document.getElementById("page").innerHTML = "<table style=\"width: 100%; table-layout:fixed\">" +
                "<tr>" +
                "<td colspan=\"2\" style=\"vertical-align: top\"><ul id=\"templatePart0\" class=\"list roles\"></ul></td>" +
                "</tr>" +
                "<tr>" +
                "<td style=\"vertical-align: top\"><ul id=\"templatePart1\" class=\"list roles\"></ul></td>" +
                "<td style=\"vertical-align: top\"><ul id=\"templatePart2\" class=\"list roles\"></ul></td>" +
                "</tr></table>"
            template = 3;
            $("#fileList, #templatePart0, #templatePart1, #templatePart2").sortable({
                connectWith: ".list"
            }).disableSelection();
        })
</script>
}